{% extends 'index.html' %}

{% block body%}
      <form method="post" class="login">
      {% csrf_token %}
    <p>
      <label for="login">Логин:</label>
      <input type="text" name="username" id="login" >
    </p>
       <p>
      <label for="password">Пароль:</label>
      <input type="password" name="password" id="password" >
    </p>

    <p class="login-submit">
      <button type="submit" class="login-button">Войти</button>
    </p>

    <p class="forgot-password"><a href="{% url 'signup_url' %}">Регистрация</a></p>
  </form>
{% endblock %}